<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Employee</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

</head>
<body>
    <div align="center">
        <h1> Employee Information</h1>
      
    </div>
    
   <div class="container"> 
    <div class="row">
        <div class="col-lg-10 mt-5 mb-5">
            <table id="example" class="table table-bordered" style="width: 100%">     
           <!--- This is a comment !-->
                <thead class="head-dark"  >
                    <tr>
                    	<th scope="col">SSN</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Middle Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Sex</th>
                        <th scope="col">Birth Date</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">Role</th>
                        <th scope="col">Status</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                <tr scope="row", th:each="employee : ${employees}">
                	<td   th:text="${employee.ssn}"></td>
                    <td   th:text="${employee.firstName}"></td>
                    <td   th:text="${employee.middleName}"></td>
                    <td  th:text="${employee.lastName}"></td>
                    <td  th:text="${employee.sex}"></td>
                    <td  th:text="${employee.birthDate}"></td>
                    <td  th:text="${employee.phoneNumber}"></td>
                    <td  th:text="${employee.role}"></td>
                    <td  th:text="${employee.status}"></td>
                    <td ><a th:href="@{/edit/{id}(id=${employee.id})}">Edit</a></td>
                    
                </tr>
            </tbody>
        </table>
    </div>    
    </div>  
    </div>    
    <p><a href="/add">Add a new employee</a></p>
 
</body>
</html>