<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>  
<style type="text/css">
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }
    input[type=radio] {
        margin-left: 45px;
    }
    input[type=checkbox] {
        margin-right: 190px;
    }  
    button {
        padding: 5px;
        margin: 10px;
    }
</style>
<title> Add Employee </title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

</head>
 
<body>


<form action="#" 
  th:action="@{/employee/update/{id}(id=${employee.id})}" 
  th:object="${employee}" 
  method="post">
  	<label for="ssn">SSN</label>
    <input type="text" th:value="${employee.ssn}" name="ssn" class="form-control" id="ssn" placeholder="SSN">
    <span th:if="${#fields.hasErrors('employee.ssn')}" th:errors="*{employee.ssn}"></span>
    <br>
    
    <label for="firstName">First Name</label>
    <input type="text" th:value="${employee.firstName}" name="firstName" class="form-control" id="firstName" placeholder="First Name">
    <span th:if="${#fields.hasErrors('employee.firstName')}" th:errors="*{employee.firstName}"></span>
    <br>
    
    <label for="middleName">Middle Name</label>
    <input type="text" th:value="${employee.middleName}" name="middleName" class="form-control" id="middleName" placeholder="Middle Name">
    <span th:if="${#fields.hasErrors('employee.middleName')}" th:errors="*{employee.middleName}"></span>
    <br>
    
    <label for="lastName">Last Name</label>
    <input type="text" th:value="${employee.lastName}" name="lastName" class="form-control" id="lastName" placeholder="Last Name">
    <span th:if="${#fields.hasErrors('employee.lastName')}" th:errors="*{employee.lastName}"></span>
    <br>
    
    <label for="sex">Sex</label>
    <input type="text" th:value="${employee.sex}" name="sex" class="form-control" id="sex" placeholder="Sex">
    <span th:if="${#fields.hasErrors('employee.sex')}" th:errors="*{employee.sex}"></span>
    <br>
    
    <label for="birthDate">Birth Date</label>
    <input type="text" th:value="${employee.birthDate}" name="birthDate" class="form-control" placeholder="Birth Date">
    <span th:if="${#fields.hasErrors('employee.birthDate')}" th:errors="*{employee.birthDate}"></span>
    <br>
    
    <label for="phoneNumber">Phone Number</label>
    <input type="text" th:value="${employee.phoneNumber}" name="phoneNumber" class="form-control" id="phoneNumber" placeholder="Phone Number">
    <span th:if="${#fields.hasErrors('employee.phoneNumber')}" th:errors="*{employee.phoneNumber}"></span>
    <br>
    
    <label for="role">Role</label>
        <select th:value="${employee.role}" name="role" class="form-select" id="role">
            <option value="1">Chef</option>
            <option value="2">Manager</option>
            <option value="3">Accountant</option>
        </select>
     <span th:if="${#fields.hasErrors('employee.role')}" th:errors="*{employee.role}"></span>
    <br>
    
    <label for="status">Status</label>
      	<select th:value="${employee.status}" id="status" name="Status" class="form-select"> 
            <option value="Active">Active</option>
            <option value="Pause">Pause</option>
            <option value="Resigned">Resigned</option>
        </select> 
   <span th:if="${#fields.hasErrors('employee.status')}" th:errors="*{employee.status}"></span> 
    <br>
    
    <label>House No.:</label>
	<input type="text" th:value="${address.houseNo}" name="houseNo" class="form-control"/>
    <span th:if="${#fields.hasErrors('address.houseNo')}" th:errors="*{address.houseNo}"></span>
    <br>
    
    <label>Street:</label>
	<input type="text" th:value="${address.street}" name="street" class="form-control"/>
	<span th:if="${#fields.hasErrors('address.street')}" th:errors="*{address.street}"></span>
    <br>
    
    <label>Alley:</label>
	<input type="text" th:value="${address.alley}" name="alley" class="form-control"/>
	<span th:if="${#fields.hasErrors('address.alley')}" th:errors="*{address.alley}"></span>
    <br>
    
    <label>VillageNo:</label>
	<input type="text" th:value="${address.villageNo}" name="villageNo" class="form-control"/>
	<span th:if="${#fields.hasErrors('address.alley')}" th:errors="*{address.alley}"></span>
    <br>
    
    <label>Sub-district:</label>
	<input type="text" th:value="${address.subDistrict}" name="subDistrict" class="form-control"/>
	<span th:if="${#fields.hasErrors('address.subDistrict')}" th:errors="*{address.subDistrict}"></span>
    <br>
    
    <label>Province:</label>
	<input type="text" th:value="${address.province}" name="province" class="form-control"/>
	<span th:if="${#fields.hasErrors('address.province')}" th:errors="*{address.province}"></span>
    <br>
    
    <label>Postal Code:</label>
	<input type="text" th:value="${address.postalCode}" name="postalCode" class="form-control"/>
    <span th:if="${#fields.hasErrors('address.postalCode')}" th:errors="*{address.postalCode}"></span>
    <br>
    
    <input type="submit" value="Edit Employee">   
</form>
   
   </body>
</html>